* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.header-inner{
    width: 100%;
    max-width: 1000px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-border a{
    text-decoration: none;
    color: #292A45;
    font-size: 14px;
}

.header-border a:hover {
    color: rgb(37, 37, 37);
    border-bottom: 2px solid #292A45;
    transition: 0.1s;
}

.header-inner-reg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

.header-inner-reg a{
    text-decoration: none;
    color: rgb(54, 48, 81);
    font-size: 14px;
    font-weight: bold;
}

.header-inner-reg a:hover {
    transition: 0.6s;
    color: rgb(75, 68, 172);
}

.logo input{
    width: 100px;
}

.lang {
    margin-bottom: 4%;
}









.main-line {
    border-bottom: 2px solid black;
    width: 900px;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    max-width: 1000px;
    width: 100%;
}

.main-container-name  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding-top: 30px;
    border: 1px solid black;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 400px;
    overflow-y: scroll;
}

.main-container-name-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
}



.main-container-name img{
    width: 50px;
}

.txt{
    font-size: 15px;
}

.main-container a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.main-container a:hover {
    color: #4d4f8f;
}






.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.comments-name input{
    padding: 10px;
    padding-right: 70px;
    width: 300px;
}

.comments-request input {
    padding: 10px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
}

.comments-seand input {
    padding-top: 10px;
    padding-right: 70px;
    padding-bottom: 10px;
    width: 300px;
    margin-bottom: 100px;
}



.comment {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
}

.comment-text-name {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}

.comment-text-name-name {
    font-weight: bold;
}

.comment-text-name-time {
    font-size: 14px;
    margin-top: 2px;
}

.comment-text-txt {
    max-width: 600px;
}






.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1600px;
    background: #003EB7;
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.co-1 a{
    display: flex;
    flex-direction: column;
}

.co-1-h1 h1{
    font-size: 22px;
    color: white;
}

.co-1 a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.co-1 a:hover{
    color: #a5c3ff;
    transition: 0.2s;
}

.co-1 input{
    border: 2px solid #4b77ce;
    background-color: white;
    border-radius: 24px;
    padding: 10px;
    padding-left: 40px;
}

.footer-icon {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
}

.footer-icon img{
    margin-top: 8px;
}







.main-events {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 2px solid black;
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 24px;
}

.main-events-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
}

.main-events-txt-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.main-event-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #003298;
    color: #003298;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
    margin-left: 80%;
}

.main-event-btn a:hover {
    color: white;
    background: #003EB7;
    transition: 0.3s;
}
