* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.header-inner{
    width: 100%;
    max-width: 1000px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-border a{
    text-decoration: none;
    color: #292A45;
    font-size: 14px;
}

.header-border a:hover {
    color: rgb(37, 37, 37);
    border-bottom: 2px solid #292A45;
    transition: 0.1s;
}

.header-inner-reg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

.header-inner-reg a{
    text-decoration: none;
    color: rgb(54, 48, 81);
    font-size: 14px;
    font-weight: bold;
}

.header-inner-reg a:hover {
    transition: 0.6s;
    color: rgb(75, 68, 172);
}


.search input {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #3F80FF;
    border-radius: 10px;
    width: 350px;
    border-radius: 20px;
}

.logo input{
    width: 100px;
}

.lang {
    margin-bottom: 4%;
}







.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    max-width: 1000px;
    width: 100%;
}

.main-container-name  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding-top: 30px;
    border: 1px solid black;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 400px;
}

.main-container-name-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;
}

.main-container-name {
    display: grid;
    grid-template-rows: 1fr 1fr;
}



.main-container-name img{
    width: 50px;
}

.txt-bold div{
    font-size: 20px;
    font-weight: bolder;
}

.main-container a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.main-container a:hover {
    color: #4d4f8f;
}






.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.comments-name input{
    padding: 10px;
    padding-right: 70px;
    width: 300px;
}

.comments-request input {
    padding: 10px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
}

.comments-seand input {
    padding-top: 10px;
    padding-right: 70px;
    padding-bottom: 10px;
    width: 300px;
}









.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 100%;
    max-width: 1920px;
    background: #003EB7;
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.co-1 a{
    display: flex;
    flex-direction: column;
}

.co-1-h1 h1{
    font-size: 22px;
    color: white;
}

.co-1 a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.co-1 a:hover{
    color: #a5c3ff;
    transition: 0.2s;
}

.co-1 input{
    border: 2px solid #4b77ce;
    background-color: white;
    border-radius: 24px;
    padding: 10px;
    padding-left: 40px;
}

.footer-icon {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
}

.footer-icon img{
    margin-top: 8px;
}
