* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.header-inner{
    width: 100%;
    max-width: 1000px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-border a{
    text-decoration: none;
    color: #292A45;
    font-size: 14px;
}

.header-border a:hover {
    color: rgb(37, 37, 37);
    border-bottom: 2px solid #292A45;
    transition: 0.1s;
}

.header-inner-reg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

.header-inner-reg a{
    text-decoration: none;
    color: rgb(54, 48, 81);
    font-size: 14px;
    font-weight: bold;
}

.header-inner-reg a:hover {
    transition: 0.6s;
    color: rgb(75, 68, 172);
}

.logo input{
    width: 100px;
}

.lang {
    margin-bottom: 4%;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    max-width: 1400px;
    width: 100%;
}



/* Вторая страница */
.landingpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingpage-container {
    max-width: 1000px;
    width: 100%;
}

.landingpage-container span {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-txt-3 {
    font-weight: 600;
    font-size: 30px;
}

.main-txt-4 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 20px;
}

.landingpage h1{
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: -90px;
    position: relative;
    animation: text 1.6s 1;
    font-family: 'Golos Text', sans-serif;
}

.text-3 a{
    text-decoration: none;
    color: #292A45;
    font-size: 16px;
    background: #00A3FF;
    border-radius: 30px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Golos Text', sans-serif;
}

.text-3 a:hover{
    background: #1a97e0;
    transition: 0.6s;
}

@keyframes text {
    0%{
        margin-top: -2000px;
      }
}





.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #292A45;
    border-radius: 20px;
}

.reg-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.register-container input {
   padding: 10px;
   border: none;
   border-bottom: 2px solid #292A45;
   width: 255px;
}

.logIn div {
    font-size: 14px;
    color: #292A45;
}

.logIn a{
    text-decoration: none;
    color: #00A3FF;
}

.logIn a:hover{
    color: #1c52be;
    transition: 0.2s;
    border-bottom: 1px solid #1c52be;
}


.reg-btn-black a{
    text-decoration: none;
    border: 2px solid #292A45;
    color: #292A45;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}


.reg-btn-black a:hover{
    background: #292A45;
    color: white;
    transition: 0.4s;
}






.swiper {
    width: 1400px;
    height: 350px;
    border-radius: 60px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.swiper-slide video{
    width: 100%;
    margin-top: -3%;
}





.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maps-container {
    width: 100%;
    max-width: 1400px;
}

.maps-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #292A45;
    margin-bottom: 20px;
}

.maps-container iframe {
    margin: auto;
    width: 100%;
}







/* Анимация */

.container-fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #c199da, #00A3FF, #003EB7);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
  /* ================= Header ============ */
  header{
    position: absolute;
    top:0%;
    left: 0%;
    width:100%;
    margin: 0;
    padding: 0;
  }
  /* navbar */

  /* Header content & title & button*/
  .header-content{
    margin-top:9%;
    text-align: center;
    color:  #EFEEF5;
  }
  .header-content h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Golos Text', sans-serif;
  }
  .header-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px auto;
    font-family: 'Golos Text', sans-serif;
  }
  .header-content a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    background: #2f71f5;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
  }
  .header-content a:hover{
    background: rgb(227, 4, 4);
    width: 100%;
    transition: 1s;
    color: white;
  }


  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }



  .main-container-block-forum-container a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    background: #2f71f5;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
  }



.main-container-block-new h1 {
    font-size: 30px;
    color: #003298;
    margin-top: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    
}

.main-container-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.main-container-block img{
    width: 400px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-block-1-h1 div {
    font-size: 20px;
    font-weight: bold;
}

.main-container-block-1-p div {
    font-size: 14px;
    width: 150px;
}


.main-container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.main-container-button a{
    background: #3F80FF;
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 24px;
    text-decoration: none;
}

.main-container-button a:hover{
    background: #225dd4;
    color: white;
    transition: 0.4s;
}

.main-forum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 6%;
    margin-right: 20%;
    margin-bottom: 30px;
}






.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.footer-container {
    width: 100%;
    max-width: 1920px;
    background: #003EB7;
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.co-1 a{
    display: flex;
    flex-direction: column;
}

.co-1-h1 h1{
    font-size: 22px;
    color: white;
}

.co-1 a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.co-1 a:hover{
    color: #a5c3ff;
    transition: 0.2s;
}

.co-1 input{
    border: 2px solid #4b77ce;
    background-color: white;
    border-radius: 24px;
    padding: 10px;
    padding-left: 40px;
}

.footer-icon {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
}

.footer-icon img{
    margin-top: 8px;
}






.main-coloum {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.main-small {
    max-width: 850px;
}

.main-events {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 2px solid black;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 24px;
}

.main-events-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
}

.main-events-txt-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
}

.main-event-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #003298;
    color: #003298;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
    margin-left: 50%;
}

.main-event-btn a:hover {
    color: white;
    background: #003EB7;
    transition: 0.3s;
}





.main-big {
    max-width: 500px;
}

.main-big-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
    border-radius: 24px;
}

.main-big-events-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.main-big-events-txt-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 13px;
}

.main-big-event-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #003298;
    color: #003298;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
    margin-left: 130px;
}

.main-big-event-btn a:hover {
    color: white;
    background: #003EB7;
    transition: 0.3s;
}






/* Ивенты */

.main-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-container-grid-headint {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container-grid-news {
    border: 2px solid black;
    border-radius: 24px;
    margin-top: 20px;
    margin-left: 11%;
}

.main-container-grid-news {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container-grid-news-txt {
    margin-left: 20px;
    max-width: 600px;
}
.main-container-grid-headint-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    gap: 20px;
    padding: 10px;
}

.main-container-grid-news-txt {
    width: 800px;
}

.btn-ver-1 a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
}

.btn-ver-1 a:hover {
    background: #2c2c2c;
    color: white;
    transition: 0.4s;
}

.btn-ver-2 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    background: #2f71f5;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
    font-weight: 200;
}

.btn-ver-2 a:hover {
    background: #003298;
    color: white;
    transition: 0.4s;
}

.main-headint h1{
    color: #292A45;
}
.main-headint {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 11%;
}

.main-heading-btn a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(45, 45, 45);
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
    font-family: 'Golos Text', sans-serif;
    font-weight: 200;
    line-height: 40px;
}

.main-heading-btn a:hover {
    background: #0c27b0;
    color: white;
    transition: 0.6s;
    border: none;
}







/* Профиль */
.profil {
    display: grid;
    grid-template-columns: 0.33fr 0.67fr 2fr;
    margin-left: 5%;
}

.profil_name{
    margin-top: 40px;
}

.shapka {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil_statistik{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profil_statistik_container {
    max-width: 1200px;
    width: 100%;
}


.profil_statistik img{
    width: 1200px;
}


.profil_txt a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(90, 90, 90, 0.1);
    border-radius: 40px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 140px;
}

.profil_txt a:hover {
    background: #df5d29;
    color: white;
    transition: 0.7s;
    box-shadow: 0px 5px 20px rgba(108, 92, 255, 0.415);
}
