* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.header-inner{
    width: 100%;
    max-width: 1000px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-border a{
    text-decoration: none;
    color: #292A45;
    font-size: 14px;
}

.header-border a:hover {
    color: rgb(37, 37, 37);
    border-bottom: 2px solid #292A45;
    transition: 0.1s;
}

.header-inner-reg a{
    text-decoration: none;
    background: #00A3FF;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
    color: white;
    font-size: 12px;
}

.header-inner-reg a:hover {
    transition: 0.6s;
    background: #0f96e3;
    color: white;
}

.search input {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #3F80FF;
    border-radius: 10px;
    width: 350px;
    border-radius: 20px;
}

.logo input{
    width: 100px;
}

.lang {
    margin-bottom: 4%;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    max-width: 1400px;
    width: 100%;
}



/* Вторая страница */
.landingpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingpage-container {
    max-width: 1000px;
    width: 100%;
}

.landingpage-container span {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-txt-3 {
    font-weight: 600;
    font-size: 30px;
}

.main-txt-4 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 20px;
}

.landingpage h1{
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: -90px;
    position: relative;
    animation: text 1.6s 1; 
}

.text-3 a{
    text-decoration: none;
    color: #292A45;
    font-size: 16px;
    background: #00A3FF;
    border-radius: 30px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

.text-3 a:hover{
    background: #1a97e0;
    transition: 0.6s;
}

@keyframes text {
    0%{
        margin-top: -2000px;
      }
}





.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #292A45;
    border-radius: 20px;
}

.reg-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.register-container input {
   padding: 10px;
   border: none;
   border-bottom: 2px solid #292A45;
   width: 255px;
}

.logIn div {
    font-size: 14px;
    color: #292A45;
}

.logIn a{
    text-decoration: none;
    color: #00A3FF;
}

.reg-btn-black a{
    text-decoration: none;
    border: 2px solid #292A45;
    color: #292A45;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}


.reg-btn-black a:hover{
    background: #292A45;
    color: white;
    transition: 0.4s;
}






.swiper {
    width: 1400px;
    height: 350px;
    border-radius: 60px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.swiper-slide video{
    width: 100%;
    margin-top: -3%;
}





.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maps-container {
    width: 100%;
    max-width: 1400px;
}

.maps-container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #292A45;
    margin-bottom: 20px;
}

.maps-container iframe {
    margin: auto;
    width: 100%;
}







/* Анимация */

.hero {
  background-color: #ffffff;
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.hero__title {
  color: #141414;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: 'Golos Text', sans-serif;
  z-index: 1;
}

.hero__title:hover{
    cursor: pointer;
}

.hero__title a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 190%;
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Golos Text', sans-serif;
    background: #00A3FF;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
}

.hero__title a:hover {
    color: white;
    background: #077dc2;
    transition: 0.4s;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 11s ease-in forwards infinite;
          animation: cube 11s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #0051f4;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  left: 60vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 10vw;
  top: 70vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 20vw;
  top: 14vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}





.main-container-block-new h1 {
    font-size: 30px;
    color: #003298;
    margin-top: 40px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.main-container-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.main-container-block img{
    width: 400px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-block-1-h1 div {
    font-size: 20px;
    font-weight: bold;
}

.main-container-block-1-p div {
    font-size: 14px;
    width: 150px;
}


.main-container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.main-container-button a{
    background: #3F80FF;
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 24px;
    text-decoration: none;
}

.main-container-button a:hover{
    background: #225dd4;
    color: white;
    transition: 0.4s;
}

.main-forum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-left: 6%;
    margin-right: 20%;
    margin-bottom: 30px;
}
